body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #511ab7, #7a3cd6, #a75cf1);
    height: 100vh;
}
/*Nav*/
nav{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding: 15px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white;

}
.nav-menu{
    display: flex;
    margin: 0;
}
.nav-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    width: 130px;
    height: 110px;
}


h3{
    color: white;
    font-size: 3rem;
    margin: 0 1em 0 1em;
    font-family: "Quicksand", serif;
    letter-spacing: 4px;
}


li{
    list-style: none;
    margin-left: 2em;
}
li > a{
    font-family: "Lato", sans-serif;
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 1;
    padding-bottom: 2px;
    
}
.contact-us > a{
    color: white;
    padding: 8px 18px;
    border-radius: 10px;
    border: 2px solid white;
}
.contact-us > a::before{
    transition: 0.4s all ease-in-out;
    position: absolute;
    content: "";
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 0;
    background: linear-gradient(135deg, #511ab7, #7a3cd6, #a75cf1);
    z-index: -1;
    border-radius: 8px;
    
}
.contact-us > a:hover::before{
    transition: 0.4s all ease-out;
    width: 100%;
    z-index: -1;
}



.underline-effect::before{
    transition: 0.3s all ease-in-out;
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    height: 5px;
    width:0;
    background-color:white;
    
}

.underline-effect:hover::before {
    width: 100%;
}

/*Nav*/


/*Hero*/

.hero-section{
   height: 75%;
   padding: 50px;
   display: flex;
   justify-content: center;
}
.hero-img{
    border-radius: 300px 300px 0px 0px;
    width: 700px;
    height: 700px;
}
.hero-content{
    display: flex;
}
.outline-text{
    font-family: "Lato", serif;
    font-size: 7rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 3px white;
    margin: 0;
    align-self: center;
}

.happy{
    font-size: 7.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.add-white{
    color: white;
}

/*Hero*/


main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    height: auto;
    background-color: #f2f3f4;
}

 /*Cocktail*/

.cocktail-section{
    display: flex;
    height: 100vh;
}

.cocktail-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center; 
    margin-top: 100px;

}
.cocktail-text-container{
    display: flex;
    width: 100%;
    max-width: 700px;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    align-items: center;
    
    
}
.cocktail-header{
    font-size: 5rem;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 3px black;
    align-self: start;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 20px;
}
.cocktail-text{
    color: black;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 10px 0;
}
.cocktail-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    
}
.cocktail-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.highlight {
    color: #511ab7;  
    font-weight: bold;  
    font-size: 1.1em;  
}
.pearl-highlight{
    color: black;
    font-weight: bold;  
    font-size: 1.1em; 
}
.cocktail-button > a{
    font-family: "Lato", sans-serif;
    color: black;
    padding: 15px 18px;
    border-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 1;
    
    
}
.cocktail-button{
    border: none;
    margin-top: 40px;
    align-self: center;
}
.cocktail-button > a::before{
    transition: 0.4s all ease-in-out;
    position: absolute;
    content: "";
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 0;
    background-color: #511ab7;
    z-index: -1;
    border-radius: 8px;
    
}
.cocktail-button > a:hover::before{
    transition: 0.4s all ease-out;
    width: 100%;
    z-index: -1;
}
.cocktail-button > a:hover{
    color: white;
}
/*Cocktail*/

/*Food*/

.food-section{
    display: flex;
    height: 100vh;
}
.food-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center; 
    margin-top: 100px;

}

.food-text-container{
    display: flex;
    width: 100%;
    max-width: 700px;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    align-items: center;
}


.food-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    
}
.food-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.food-header{
    font-size: 5rem;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 3px black;
    align-self: start;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 20px;
}
.food-text{
    color: black;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 10px 0;
}

.food-button > a{
    font-family: "Lato", sans-serif;
    color: black;
    padding: 15px 18px;
    border-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 1;
}
.food-button{
    border: none;
    margin-top: 40px;
    align-self: center;
}
.food-button > a::before{
    transition: 0.4s all ease-in-out;
    position: absolute;
    content: "";
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 0;
    background-color: #511ab7;
    z-index: -1;
    border-radius: 8px;
    
}
.food-button > a:hover::before{
    transition: 0.4s all ease-out;
    width: 100%;
    z-index: -1;
}
.food-button > a:hover{
    color: white;
}


/*Food*/
