body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #511ab7, #7a3cd6, #a75cf1);
    height: auto;
}



/*Hero*/

.hero-section{
   padding: 50px;
   display: flex;
   justify-content: center;
   
}

.hero-img{
    border-radius: 300px 300px 0px 0px;
    width: 700px;
    height: 700px;
    display: none;
}
.hero-content{
    display: flex;
}
.outline-text{
    font-family: "Lato", serif;
    font-size: 7rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 3px white;
    margin: 0;
    align-self: center;
}

.happy{
    font-size: 7.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.add-white{
    color: white;
}

/*Hero*/


main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    height: auto;
    background-color: #fff;
}











/*Media*/

@media(max-width:1280px){
    
    /*Hero*/
    .hero-content{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .hero-section{
        height: 100vh;
    }
    
    .outline-text{
        font-size: 7rem;
        max-width: 1000px;
        margin-left: 30px;
    }
    .hero-img{
        width: 500px;
        height: 500px;
        
    }
    /*Hero*/


   

}





/*Media*/